.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.fa-brands {
  margin-right: 8px;
}

/*Projects List*/
.projects-list {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}

.project-card {
  max-height: 15rem;
  max-width: 15rem;
  height: 100%;
  width: 100% !important;
}

.card-body a {
  bottom: 0;
}

.card-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.project-title-icon {
  scale: 2;
  color: white;
  margin-right: 5px;
}
