<div class="container py-5">
  <app-title title="ABOUT ME" icon="fa-book"></app-title>
  <div class="row" style="margin-top: 1rem">
    <div class="card text-bg-dark mb-3 element" style="max-width: 18rem; min-height: 13rem; background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1541779397232-52ab2546db76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNhbiUyMG1hdGVvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60')">
      <div class="card-body">
        <h5 class="card-title">I've worked as a game developer on <strong style="color: rgb(255, 110, 110)">Roblox</strong>.</h5>
        <p class="card-text">Roblox was my first contact with programming, allowed and shone a light into me that has motivated me to continue programming since then.</p>
      </div>
    </div>
    <div class="card text-bg-dark mb-3 element" style="max-width: 18rem; min-height: 13rem; background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1580745089089-a9d84551e657?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fGd1aXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60')">
      <div class="card-body">
        <h5 class="card-title">I love playing <br><strong style="color: rgb(255, 150, 30)">Electric Guitar</strong>.</h5>
        <p class="card-text"><small>"Where words fail, music speaks."</small> <br><i>- Hans Christian Anderson</i></p>
      </div>
    </div>
    <div class="card text-bg-dark mb-3 element" style="max-width: 18rem; min-height: 13rem; background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1516397281156-ca07cf9746fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8b25saW5lJTIwY291cnNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60')">
      <div class="card-body">
        <h5 class="card-title">I enjoy taking<br> <strong style="color: rgb(197, 110, 255)">Courses</strong>.</h5>
        <p class="card-text">I find learning new things absolutely enjoyable. Courses are built into steps which helps on aggregating information.</p>
      </div>
    </div>
    <div class="card text-bg-dark mb-3 element" style="max-width: 18rem; min-height: 13rem; background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1652188297187-9bb7f71daee4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bGluZ3Vpc3RpY3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60')">
      <div class="card-body">
        <h5 class="card-title">I enjoy studying new <strong style="color: rgb(110, 156, 255)">Languages</strong>.</h5>
        <p class="card-text">Learning new languages opens up a world of opportunities and allows you to discover new cultures and the world.</p>
      </div>
    </div>
  </div>
</div>
