<footer>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
          aria-label="Lucas Vieira da Silva Logo">
          <img src="../../../assets/personal-logo-scaled.png" id="personal-logo" width="40" height="32" class="d-block me-2">
          <span class="fs-5">Lucas Vieira da Silva <strong>© 2022</strong></span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2" style="mix-blend-mode: multiply;">Licensed by <a
              href="https://github.com/LucasVieiraS/LucasVieiraS.github.io/blob/master/LICENSE.md" target="_blank"
              rel="license noopener">MIT</a>.</li>
          <li class="mb-2" style="mix-blend-mode: multiply;"><a
              href="https://github.com/LucasVieiraS/LucasVieiraS.github.io" target="_blank" rel="github noopener">Github
              Repository</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-7 mb-3">
        <h5><i class="fa-solid fa-bookmark"></i> CONTACT</h5>
        <ul class="list-unstyled">
          <li class="mb-2" style="mix-blend-mode: multiply;"><a href="https://github.com/LucasVieiraS"><i
                class="fa-brands fa-github"></i>Github</a></li>
          <li class="mb-2" style="mix-blend-mode: multiply;"><a href="https://www.linkedin.com/in/LucasVieiraSilva/"><i
                class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
