#personal-logo {
  filter: invert(43%) sepia(64%) saturate(4588%) hue-rotate(240deg) brightness(99%) contrast(104%);
  -webkit-filter: invert(43%) sepia(64%) saturate(4588%) hue-rotate(240deg) brightness(99%) contrast(104%);
  transition: 0.3s ease-in;
}

#personal-logo:hover {
  opacity: .5;
}

li i {
  margin-right: 5px;
}
