<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg" aria-label="Global navigation - Standard example">
    <div class="container-xxl">

      <div class="navbar-brand me-auto me-lg-4">
        <a class="stretched-link" href="#">
          <img src="../assets/personal-logo-scaled.png" width="50" height="50" alt="Lucas Vieira Portfolio - Back to Home"
            loading="lazy">
        </a>
      </div>

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".global-header-1"
        aria-controls="global-header-1.1 global-header-1.2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="global-header-0.1" class="navbar-collapse collapse me-lg-auto global-header-1">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link nav-scroll active" href="#discover">Discover</a></li>
          <li class="nav-item"><a class="nav-link nav-scroll" href="#projects">Projects</a></li>
          <li class="nav-item"><a class="nav-link nav-scroll" href="#about-me">About Me</a></li>
          <li class="nav-item"><a class="nav-link nav-scroll" href="#contact">Contact</a></li>
          <li class="nav-item"><app-theme-switch class="nav-link"></app-theme-switch></li>
        </ul>
      </div>


    </div>
  </nav>
</header>
