header.masthead {
  position: relative;
  overflow: hidden;
  margin: auto;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  width: 100%;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 1rem;
  font-weight: 500;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 3rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 1.45rem;
  }
}

#nameLabel {
  position: relative;
  top: -4rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;

  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter{
  max-width: 20em;
  animation: typewriter 4s steps(120) .3s 1 normal both, blinkcursor 500ms steps(120) infinite normal;
  -webkit-animation: typewriter 4s steps(120) .3s 1 normal both, blinkcursor 500ms steps(120) infinite normal;
}

@media only screen and (max-width: 600px) {
  header.masthead .masthead-content .masthead-heading {
    font-size: 7vw;
  }
}


@keyframes typewriter{
  from{width: 0;}
  to{width: 90vw;}
}

@keyframes blinkcursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.masthead-content {
  margin-top: 10rem;
}
