<div class="container py-5">
  <h5><i class="fa-solid fa-book"></i> FACTS</h5>
  <div class="row" style="margin-top: 1rem">
    <div class="card text-bg-dark mb-3 element" style="max-width: 18rem; min-height: 13rem;">
      <div class="card-body">
        <h5 class="card-title">I've worked as a game developer on <strong style="color: rgb(255, 110, 110)">Roblox</strong>.</h5>
        <p class="card-text">Roblox was my first contact with programming, allowed and shone a light into me that has motivated me to continue programming since then.</p>
      </div>
    </div>
    <div class="card text-bg-dark mb-3 element" style="max-width: 18rem; min-height: 13rem;">
      <div class="card-body">
        <h5 class="card-title">I love playing <br><strong style="color: rgb(255, 150, 30)">Guitar</strong><br> on my freetime.</h5>
        <p class="card-text"><small>"Where words fail, music speaks."</small> <br><i>- Hans Christian Anderson</i></p>
      </div>
    </div>
    <div class="card text-bg-dark mb-3 element" style="max-width: 18rem; min-height: 13rem;">
      <div class="card-body">
        <h5 class="card-title">I enjoy taking<br> <strong style="color: rgb(197, 110, 255)">Online Courses</strong><br> on my freetime.</h5>
        <p class="card-text">I find learning new things enjoyable, and sometimes you wanna stay home... online courses brings both together!</p>
      </div>
    </div>
    <div class="card text-bg-dark mb-3 element" style="max-width: 18rem; min-height: 13rem;">
      <div class="card-body">
        <h5 class="card-title">I like the area of <strong style="color: rgb(110, 156, 255)">Linguistics</strong>.</h5>
        <p class="card-text">Learning new languages opens up a world of opportunities and allows you to discover new cultures.</p>
      </div>
    </div>
  </div>
</div>
