.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.element {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
