
<div class="header-bg-filler"></div>
<header>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a href="/"><img src="../assets/personal-logo-scaled.png" id="personal-logo-navbar" width="40" height="32" class="d-block me-2" role="img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" routerLink="about-me">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="projects">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="extra">EXTRA</a>
            </li>
          -->
        </ul>
          <div class="form-check form-switch ms-auto mt-3 me-3">
            <label class="form-check-label ms-3" for="lightSwitch">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="white"
                class="bi bi-brightness-high"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                />
              </svg>
            </label>
            <input class="form-check-input" type="checkbox" id="lightSwitch" (change)="switchDarkMode()"/>
          </div>
      </div>
    </div>
  </nav>
</header>

<section>
  <app-about-me></app-about-me>
  <hr style="margin-top: -1px;">
  <app-projects></app-projects>
  <hr>
  <app-extra></app-extra>
</section>

<footer>
  <hr>
  <div class="container py-5">
    <div class="row">
      <h5><i class="fa-solid fa-envelope"></i> LET'S WORK TOGETHER</h5>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="username@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Hello Lucas! I'm contacting you for..."></textarea>
      </div>
    </div>
  </div>
  <hr>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Lucas Vieira da Silva Logo">
          <img src="../assets/personal-logo-scaled.png" id="personal-logo" width="40" height="32" class="d-block me-2" role="img"><title>Bootstrap</title>
          <span class="fs-5">Lucas Vieira da Silva <strong>© 2022</strong></span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2" style="mix-blend-mode: multiply;">Licensed by <a href="https://github.com/LucasVieiraS/LucasVieiraS.github.io/blob/master/LICENSE.md" target="_blank" rel="license noopener">MIT</a>.</li>
          <li class="mb-2" style="mix-blend-mode: multiply;"><a href="https://github.com/LucasVieiraS/LucasVieiraS.github.io" target="_blank" rel="github noopener">Github Repository</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-7 mb-3">
        <h5><i class="fa-solid fa-bookmark"></i> CONTACT</h5>
        <ul class="list-unstyled">
          <li class="mb-2" style="mix-blend-mode: multiply;"><a href="https://github.com/LucasVieiraS"><i class="fa-brands fa-github"></i>Github</a></li>
          <li class="mb-2" style="mix-blend-mode: multiply;"><a href="https://www.linkedin.com/in/LucasVieiraSilva/"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
